<div id="main">

    <div class="topic center">
        <div class="sub">
            <h1>Sign up</h1>
        </div>

            <%= form_for(@user) do |f| %>
              
              <p>Личные данные</p>
              <%= f.fields_for :info do |i| %>
                <%= i.text_field :first_name, :placeholder => "First name" %>
                <%= i.text_field :last_name, :placeholder => "Last name" %>
              
                <%= i.text_field :school, :placeholder => "School" %>
                <p>
                <%= i.select :class_number, [["Гость", "Guest"]] + Array(1..11).map{ |c| [c.to_s + "кл.", c] } + [["Учитель", "Teacher"]] + [["Студент", "Student"]] %>
                <%= i.select :group, [["Нет", "None"]] + Array("А"..."О").map{ |c| ["\"" + c + "\"", c.ord] } %>
                </p>
                <%= i.text_field :phone, :placeholder => "Phone" %>
              <% end %>
              
              <p>Учетная запись</p>
              <%= f.email_field :email, :placeholder => "Email" %>
              <%= f.password_field :password_digest, :placeholder => "Password" %>
              <p><%= f.submit "Create an account" %></p>
              
              
              <% if session[:error] != nil %>
              <p><%= session[:error] %></p>
              <% end %>
              
            <% end %>
    </div>
</div>