<style>
td {
    border:solid 2px #000;
}
</style>
<div id="main">

    <div class="topic">
            <h1>User(s)</h1>
            <table>
            <td>ФИО</td><td>Телефон</td><td>Почта</td><td>Школа</td>
            <% @user.each do |pupil| %>
            <tr>
                <td><%=pupil.info.first_name + " " + pupil.info.last_name%></td>
                <td><%=pupil.info.phone%></td>
                <td><%=pupil.email%></td>
                <td><%=pupil.info.school + " " +
                             pupil.info.class_number  + " \"" +
                             pupil.info.group.to_i.chr + "\""
                          %></td>
                <td>
            </tr>
            <% end %>
            </table>
    </div>
</div>