<div id="slider-in">
 <div class="slider">
    <div class="info">
        <div class="section" id="1">
            <div class="image-all" style="background-image: url(img/1.jpg);"></div>
        </div>
        <div class="section" id="2">
            <div class="image-all" style="background-image: url(img/2.jpg);"></div>
        </div>
        <div class="section" id="3">
            <div class="image-all" style="background-image: url(img/3.jpg);"></div>
        </div>
    </div>
</div>
</div>
<script src="js/slider.js"></script>    

<div id="main">

<a href="./index.html" style="text-decoration:none;"><h2>Loggek</h2></a>
    <div class="articles">
        <div>
          <h4>Информация учащихся</h4>
          <h4><br /></h4>
        </div>
        <a class="button-main" href="./posts"><p class="normal">Смотреть</p><p class="small">класс 8-a</p></a>
    </div>
    <h4>Изучать вместе весело.</h4>

        <span>
        <div class="topic off" id="open-1">
            <div class="close" close="#open-1"></div>
            
            <h4>Набережная А.П.</h4>
            <article>
                Набережная А.П. Преподаватель информатики и математики в школе №1852. 
            </article>
        </div>
        <div class="topic off" id="open-2">
            <div class="close" close="#open-2"></div>
            
            <h4>Контакты</h4>
            <article>
                Писать на почту annanab@rambler.ru
            </article>       
        </div>
        <div class="topic off" id="open-3">
            <div class="close" close="#open-3"></div>
            
            <h4>О нас</h4>
            <article>
                Сайт создан Набережной А.П.
            </article>
        </div> 
    </span>
    
</main>