<div id="main">

    <div class="topic">
        <div class="sub">
            <h1>Контакты</h1>
        </div>
        
        <p>
            Почта: perovoschool@gmail.com
        </p>
        
    </div>
</div>