<div id="main">
    
    <% @posts = @posts.reverse
       @posts.each do |p| %>
                
    <div class="topic left">
        <div class="sub">
          <h1><%=p.topic%></h1>
        </div>
      <p><%=simple_format(p.text)%></p>
      <% if p.image.url != "/images/original/missing.png" %>
        <%= image_tag p.image.url %>
      <% end %>
    </div>
    
    <% end %>
    
</div>