<div id="main">

    <div class="topic">
            <div class="sub">
                <h1>New post</h1>
            </div>
            <br>
            <%= form_for @post, url: posts_create_path do |p| %>
              <p><%= p.text_field :topic, :placeholder => "Topic" %>
              <p><%= p.text_area :text, :placeholder => "Text", :id => "post" %></p>
              <p><%= p.file_field :image %></p>
              <p><%= p.submit "Add" %></p>
            <% end %>
    </div>
</div>