<div id="main">

    <div class="topic center">
        <div class="sub">
            <h1>О школе</h1>
        </div>
        
        <p>
            Школа №1852.
        </p>
        
    </div>
</div>