@mixin main-button {
    .button-main{
        display: inline-block;
        border: 4px solid #fe5400;
        padding: 20px;
        color: aliceblue;
        font-size: 30px;
        vertical-align: top;
        text-decoration: none;  
    }
        
    .button-main:hover{
        border-color: #aef53d;
    }
}

@mixin head-text {
    text-decoration: none;
}

@mixin article-text {
    font-size: 30px;
    color: darken(#FFF , 60%);
    text-decoration: none;
}

$orange : #FF6A00;

@mixin max {
    width:100%;
    height:100%;
}

@mixin min {
    margin:0;
    padding:0;
}


$orange : #FF6A00;

@mixin input-text {
    input[type="text"], input[type="password"], , input[type="email"], textarea {
          text-decoration:none;
          padding: 10px;
          border: none;
          border-bottom: solid 2px #c9c9c9;
          
          width:50%;
          
          margin-bottom:1px;
          
          transition: border 0.3s;
        }
        
    input[type="text"]:focus,
    input[type="email"]:focus, 
    input[type="password"]:focus {
          outline: none;
          
          text-decoration:none;
          border-bottom: solid 2px #969696;
    }
}

@mixin button-standart {
    input[type="submit"] {
      display: inline-block;
      margin: 0 10px 0 0;
      padding: 5px 45px;
      font-size: 32px;
      line-height: 1.8;
      appearance: none;
      box-shadow: none;
      border-radius: 0;
      
      margin: 10px;
      
      color: #fff;
      background-color: #6496c8;
      text-shadow: -1px 1px #417cb8;
      border: none;
      
      cursor:pointer;
    }
    
    input[type="submit"]:focus {
      outline: none;
      
      background-color: #6496c8;
      text-shadow: -1px 1px #417cb8;
    }
    
    input[type="submit"]:active {
      background-color: #27496d;
      text-shadow: -1px 1px #193047;
    }
}
