@import 'modules';

/* bower install jquery.localScroll */
$n : 3;
$height : 800px;
.slider {
    overflow: hidden;
    display: block;
    height: 100%;
    position: relative;
    
    .info {
      height:100%;
        //@for $i from 1 through $n {
        //    .info:nth-child(#{$i}) {
        .section {
            float:left;
            height: 100%;
            display: inline-block;
            margin: 0;
            padding: 0; }
    
        div {
            padding:0;
            
            -webkit-background-size: 100% $height;
            -moz-background-size: 100% $height;
            -o-background-size: 100% $height;
            background-size: 100% $height;
        }   
    }
    
    img {
        @include max;
    }
    .image-all {
        @include max;
    }
    .image-right {
        float:right;
    }
    .image-left {
        float:right;
    }
}

#slider-in {
    height: $height;
    width:100%;
}