@import 'modules';

* {
    margin: 0;
    padding: 0;
}

body{
    @include max;
}

#wrap { @include max; }

#header {
    height: 170px;
    width: 100%;
    
    #enter {
        .enter-in {
              width:100%;
              padding-top:250px;
        }
        
        .text {
        	text-align:center;
        	margin:25px;
        	color:#515151;
        	font-family: 'Lobster', cursive;
        	font-size:30px;
        }
        
        .input {
            font-size:25px;
        	color: #c1c1c3;
        	border: 0;
        	margin: 5px 35px 0 34px;
        	padding: 0px 0px 0px 10px;
        	width: 300px;
        	height: 45px;
        	background-image: url('../img/input.png');
        	background-size: 100% 100%;
        }

        margin-left:200px;
        
        width:200px;
        p {
            text-align:center;
        }
        .enter-test {
            
            
            top:30px;
            position:absolute;
            width:600px;
            height:800px;
            z-index:10;
        
            background-image: url('/img/bg.png');
            background-size: 100% 100%;
        }
    }
    
    background-color: darken(#FFF , 2%);
    a {
      color:$orange;
      @include head-text
    }
    
    small {
        cursor:pointer;
        font-size:20px;
        color:#000;
    }
    #right {
        float: right;
        
        a {
            font-size:50px;
        }
        div {
            display:inline-block;
            margin:50px;
        }
    }
}

#main{
    background-color: #2e455f;
    width: 100%;
    text-align: center;
    padding-top:100px;
    padding-bottom: 150px;
    
    h2{
        font-family: xteam;
        color: aliceblue;
        font-size: 100px;
        margin-bottom:100px;
    }
    
    h4{
        font-family: 'Oswald', sans-serif;
        color: #004;
        margin-top: 10px;
        font-size: 40px;
    }
    
    .articles {
        width: 100%;
        max-width: 980px;
        height: 400px;
        margin: auto;
        
        div{
            
        }
    }
}

@include main-button;
@include input-text;
@include button-standart;

.center {
    text-align:center;
}

.left {
    text-align:left;
}

.topic {
        background:#FFF;
        margin:0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
        border: solid #CCC 1px;
        padding:0px;
        width:980px;
        
        img {
            width:980px;
            background-size: contain;
            padding:0px;
            margin-bottom:-4px;
        }
        
        .sub {
            width:982px;
            
            background-color: #795548;
            
            padding-top:10px;
            padding-bottom:10px;
            
            margin-left:-1px;
            margin-top:-1px;
        }
        
        h4 {
            text-align:left;
            
            margin-left:30px;
            
            margin-bottom:20px;
            
            color: #000;
            font-size:bold;
            font-size:30px;
        }
        
        h1 {
            text-align:left;
            
            margin-left:30px;
            
            
            color: #000;
            font-size:bold;
            font-size:30px; 
        }
        
        article {
            @include article-text;
        }
        
        .close {
            width: 32px;
            height: 32px;
            
            margin:1px;
            padding:1px;
            cursor:pointer;
            float:right;
            position:relative;
            
            background-image:url("../img/close.png");
        
              -webkit-background-size: 100% 100%;
              -moz-background-size: 100% 100%;
              -o-background-size: 100% 100%;
              background-size: 100% 100%;
        }
        
        p {
            margin: 20px;
        }
}

.off {
    display:none;    
}

.normal{
    font-size: 50px;
}

.small{
    font-size: 20px;
}

#footer{
    position: relative;
    margin-top: -100px;
    bottom: 0;
    background-color: #fe5400;
    width: 100%;
    height: 100px;
    text-align: center;
    
    p{
        margin-top: 10px;
        color: aliceblue;
        font-size: 20px;  
    }
    
    a{
        font-size: 25px;
        text-decoration: none;
        color: whitesmoke;
        cursor:pointer;
    }

    #footer_menu{
        height: 40px;
        width: 80%;
        margin: auto;
        padding-top: 20px;
        
        li{
            display: inline-block;
            width: 30%;
            text-align: center;
            border-right: 2px solid white;
            border-left: 2px solid white;
            box-sizing: border-box;
            
            a:hover{
                color: #ff8400;
            }
        }
    }
}

/** font **/	
@font-face{
	font-family:xteam;
	src:url(./font.ttf);
}

@font-face {
    font-family: 'Oswald', sans-serif;
}