<div id="main">

    <div class="topic center">
        <div class="sub">
            <h1>Обратная связь</h1>
        </div>
        
        <p>
            Вы можете отправить <a href='/contacts'>письмо</a>
        </p>
        
    </div>
</div>