<div id="main">

    <div class="topic center">
        <div class="sub">
            <h1>Набережная А.А.</h1>
        </div>
        
        <p>
            Учитель старших классов школы 1852.
        </p>
        
    </div>
</div>