<!DOCTYPE html>
<html>
<head>
  <title>Loggek</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="../../js/main.js"></script>   
  <meta charset="UTF-8">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wraper">

<div id="header">

<% if @current_path == "welcome#index" %>
   <div id="enter">
       <div class="enter-test">
         <div class="enter-in">
         <% if session[:user_id].nil? %>
           <%= form_for("user", url: login_path) do |f| %>
         
               <p class="text">Авторизация</p>
               
               <p><%= f.email_field :user_login, :placeholder => "Email" %></p>
    		   <p><%= f.password_field :user_password, :placeholder => "Password" %></p>
    		
    		<div style="width:100%; text-align:center;">
    		<%= f.submit "Sign up" %>
    		<p><small><a href="/signup">Или создать аккаунт?</a></small></p>
            </div>
            
            <% end %>
            <% elsif (pupil = current_user) %>
                <p class="text">Ученик</p>
                <p><%=pupil.info.first_name + " " + pupil.info.last_name%></p>
                <p>Телефон <%=pupil.info.phone%></p>
                <p>Почта <%=pupil.email%></p>
                <p>Школа № <%=pupil.info.school + " " +
                             pupil.info.class_number  + " \"" +
                             pupil.info.group.to_i.chr + "\""
                          %></p>
                <p><a href="/logout">Выйти</a></p>
            <% end %>
       </div>
        
   </div>
   </div>
<% end %>

   <div id="right">
       <div><a href="/callback">Обратная связь</a></div>
   </div>     
</div>

<%= yield %>
    
</div>

<div id="footer">
    <ul id="footer_menu">
        <li><a class="open-topic" href="/info">Набережная А.П.</a></li>
        <li><a class="open-topic" href="/contacts">Контакты</a></li>
        <li><a class="open-topic" href="/about">О нас</a></li>
    </ul>
    <p><a href="http://sch1852.mskobr.ru">Школа №1852</a></p>

</div>

</body>
</html>
